html,
body {
  font-family: sans-serif;
}

#container {
  width: 800px;
  padding: 40px 0;
  margin: 0 auto;

  display: grid;
  gap: 8px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);

  > section {
    min-height: 300px;
    overflow: hidden;
    position: relative;
    background-color: #aaa;

    &.tall {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      z-index: 0;
    }

    > .shade {
      width: 0;
      height: 0;
      border-radius: 100%;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0, 0);

      background-color: rgba(226, 171, 22, 0.25);
    }

    > .content {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      position: relative;
      z-index: 5;

      color: white;
      font-weight: bold;

      > h1 {
        font-size: 2.5em;
        text-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

#circle-button {
  width: 96px;
  height: 96px;

  margin-top: 12px;
  font-size: 12px;

  border: none;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  background-color: rgba(226, 171, 22, 1);
}

#cursor {
  width: 32px;
  height: 32px;

  position: fixed;
  top: 0;
  left: 0;

  border-radius: 100%;
  background-color: rgba(226, 171, 22, 0.75);
}
